<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <h2>Edit Student</h2>

    <form action="/update/<%= student._id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
            <br>
            <input type="text" name="name" placeholder="Enter Name" required>
            <br>
            <label for="rollNo">Roll No</label>
            <br>
            <input type="number" name="rollNo" placeholder="Enter Roll No" required>
            <br>
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" placeholder="Enter Email" required>
            <br>
            <label for="department">Department</label>
            <br>
            <input type="text" name="department" placeholder="Enter Department" required>
            <br>
            <label for="city">City</label>
            <br>
            <input type="text" name="city" placeholder="Enter City" required>
            <br>
            <label for="grade">Grade</label>
            <br>
            <input type="text" name="grade" placeholder="Enter Grade" required>
        <br>
        <button type="submit">Update</button>
    </form>

    <br>
    <a href="/">Back</a>
</div>

</body>
</html>
