@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: beige;
    padding: auto;
}

.container {
    width: 700px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header{
    background-color: rgb(125, 125, 244);
    color: white;
    padding: 1rem;
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
header img{
    border-radius: 50%;
    width: 80px;
}

input {
    width: auto;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    
}
.contact-form input, .contact-form button{
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
}
button {
    padding: 6px 12px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background: #d18222;
}

table {
    border: 1px solid #333;
    width: auto;
    margin-top: 20px;
    
}

th {
    
    background: #e9d78b;
    color: black;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

a {
    text-decoration: none;
    color: blue;
}
